*-Ex.R
*.Rproj
*.dbf
*.doc*
*.gddoc
*.gdsheet
*.gpkg
*.html
*.mdb
*.shp*
*.shx
*.xls*
*_builds
*_files
*_projects
*_steps
.DS_Store
.RData
.Rdata
.Renviron
.Rhistory
.Rproj.user
.Ruserdata
.httr-oauth
docs
inst/*.gddoc
libs
output
renv/library
