.DS_Store
.httr-oauth
.Rdata
.RData
.Rhistory
.Rproj.user
.Ruserdata
*_builds
*_projects
*_steps
*-Ex.R
*.html
*.Rproj
# Example code in package build process
# History files
# R data files from past sessions
docs
